<div class="cardx">
  <h3>Templates</h3>
  <form id="template-form">
    <input type="text" name="name" placeholder="Template name">
    <textarea name="content" rows="3"></textarea>
    <button type="submit"><i class="fas fa-save"></i> Save</button>
  </form>

  <ul class="template-list">
    <% templates.forEach(t=>{ %>
    <li>
      <strong><%= t.name %></strong>
      <pre><%= t.content %></pre>
      <button class="delete-template" data-id="<%= t.id %>"><i class="fas fa-trash"></i></button>
    </li>
    <% }) %>
  </ul>
</div>
